<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="header">
  <div class="imagen" >
<img src="/assets/compara.png" width="200px" align="left">
  </div>
</div>

<form class="forma" >
  <p  class="main"> Cotiza tu seguro automotriz</p>
  <p  class="main2">¡Resultados instantaneos!</p>

  <div  class="grupo">
  <div class="">
      <label for=""> marca del auto:</label>
  </div>
      <select class="opcion">
        <option value="">Opel</option>
        <option value="">Corsa</option>
        <option value="">Honda</option>
      </select>
  </div>

  <div  class="grupo">
      <div class="">
        <label for="">Modelo del auto:</label>
      </div>
        <select class="opcion" name="">
          <option value="">Modelo1</option>
          <option value="">Modelo2</option>
          <option value="">Modelo3</option>
        </select>
  </div >

  <div  class="grupo">
    <div class="">
        <label for="">año:</label>
    </div>
        <select class="opcion" name="">
          <option value="">2010</option>
          <option value="">2015</option>
          <option value="">2018</option>
        </select>
  </div >

  <div  class="grupo">
      <div class="">
        <label for="">Email:</label>
      </div>
        <input type="text">
  </div>

  <button type="button" name="button"> Cotizar</button>

</form>
  </body>
</html>
